html {
    height: 100%;
}

body {
    font-family: 'Vollkorn', serif;
    text-align: center;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 2em;
    color: rgb(237, 227, 227);
}

.game-container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    background-color: #74BDCB;
}

.match-result {
    margin: 0;
    margin-top: 10%;
    background-color: 
    #74BDCB;
}

.player-picks {
    border: 11px solid #3b8999;
    border-radius: 16px;
    margin: 5%;
    background-color: #49a9bc;
}

button {
    padding: 1em;
    margin: 2%;
    font-size: 2em;
    color: white;
    background-color: salmon;
    border: 2px solid white;
    border-radius: 16px;
}

.score-container {
    border: 15px solid #ca7559;
    border-radius: 16px;
    margin: 5%;
    background-color:#FFA384;
}
/* STYLES */
h1, h2, h3 {
    margin: 10px;
}

h2, h3 {
    color: rgb(37, 102, 121);
}
h4 {
    font-size: 1.4em;
}
.p-score, .c-score {
    font-size: 2em;
}
